@import '_normilize';

$navcolor: #171e27;
$offwhite: #F5F5F6;
$articletitle: #3e454f;
$articletext: #E1E2E1;

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	font-size: 18px;
  	background: $offwhite;
}

.flex-nav ul {
	list-style: none;
	display: flex;
	height: 65px;
	padding-left: 30px;
	background: $navcolor;
	justify-content: flex-end;
	align-items: center;
 
	li {
		flex: 0 3 140px;

		a {
			text-decoration: none;
			color: white;
			outline: none;
		}

		a:hover {
			color: #BF360C;
		}

		i.fa {
			margin-right: 10px;
		}
	}

	li.flex-growing {
		flex-grow: 1;
	}
}

main {
	font-size: 50px;
	color: $navcolor;
	max-width: 1300px;
	margin: 0 auto;
	padding-top: 80px;
	padding-left: 50px;

	h1 {
		color: white;
		text-shadow: 2px 2px 8px $navcolor;
	}

	h3 {
		padding-top: 40px;
	}

	.coffee-cup {
		position: absolute;
		z-index: -1;
		width: 450px;
		height: 450px;
		top: 35%;
		left: 60%;
	}
}

.news-container {
	max-width: 1000px;
	margin: 0px auto;
	display: flex;
	flex-wrap: wrap;

	article {
		flex: 1 1 calc(100% - 50px);
		margin: 50px 50px 0px 50px;
		font-size: 23px;
		line-height: 35px;
		height: 500px;
		overflow: hidden;
		text-align: justify;

		h3 {
			font-size: 30px;
			padding: 20px 30px;
			background-color: $articletitle;
			color: white;

			.article-date {
				font-size: 18px;
				font-weight: normal;
				padding-right: 10px;
				color: rgba(255,255,255,0.48);
				float: right;
			}
		}

		.article-button {
			text-decoration: none;
			color: inherit;

			div {
				padding: 20px 80px;
				background-color: $articletext;
				transition: all 200ms;

				&:hover {
					transform: scale(1.12);
				}
			}
		}
	}
}

.loading {
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid white;
    border-top: 10px solid $navcolor;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 650px) {
	main {
		padding-top: 10px;
		font-size: 35px;

		h1 {
			font-size: 55px;
		}

		.coffee-cup {
			width: 300px;
			height: 300px;
			top: 50%;
			left: 15%;
		}
	}
}